html {
  background-color: #fafaff;
  margin: 0px;
}

.layoutContainer {
  position: relative;
  min-height: 100vh;
  margin: auto;
}

.center {
  max-width: 750px;
  margin: auto;
}

.grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "l1 l1 l1  . ."
    ". . r1 r1 r1"
    "l2 l2 l2 . ."
    ". center center center ." ;
  margin: auto;
}

.content {
  margin: 100px 10px 10px;
  padding-bottom: 2.5rem;
}


.link {
  color: black;
  text-shadow: none;
  text-decoration: none;
  background-image: none
}

.navLink {
  color: black;
  text-shadow: none;
  text-decoration: none;
  background-image: none
}

.activeLink {
  color: black;
  font-weight: bold;
  text-shadow: none;
  background-image: none
}

.navLink:hover {
  font-weight: 600;
  opacity: 0.75
}

.activeLink:hover {
  opacity:1 
}
